/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/df_test_combined.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/df_train_combined.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/elmo_test_03032019.pickle
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/elmo_train_03032019.pickle
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/Autokeras/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/Autokeras/structured_data_classifier/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/functional implementation/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/logistic regression implementation/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/.ipynb_checkpoints/
/Pipeline_Model/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/sequential implementation/sequential_models/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/logistic regression implementation/logistic_regression.sav
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/functional implementation/functional_models/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/logistic regression implementation/sub_lreg.csv
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/sequential implementation/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/Autokeras/model_autokeras.h5
/Pipeline_Model/model_weights/
/Pipeline_Model/text_summarization_model_weights/
/Translation_Model/models/
/Translation_Model/data/
/Translation_Model/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/encoded_train_images.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/encoded_test_images.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/df_train_combined.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/df_test_combined.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/dataset_generator.ipynb
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/bert_train_03032019.pickle
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/bert_test_03032019.pickle
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/Autokeras/model_autokeras.h5
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/Autokeras/structured_data_classifier/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/Autokeras/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/encoded_train_images.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_ELMO/encoded_test_images.pkl
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/logistic regression implementation/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/logistic regression implementation/csv/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/logistic regression implementation/models/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/sequential implementation/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/sequential implementation/sequential_models/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/functional implementation/.ipynb_checkpoints/
/Image_Text_Matching_Model/Image_Text_Adequacy_BERT/functional implementation/functional_models/
